body{
    margin: 0;
    font-family: sans-serif;
}

.nav-bar{
    display: flex;
    background-color: #1F2937;
    padding: 20px;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.header{
    font-size: 24px;
    font-weight: bold;
}

.right-links{
    display: flex;
    font-size: 18px;
    gap: 10px;
}

.right-links a{
    color: white;
    text-decoration: none;
}

.card-1{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    height: 400px;
}

.left-side{
    width: 450px;

}
.right-side{
    flex: 0 1 500px;
    width: 450px;
    height: a;
    align-items: center;
    justify-items: center;
    background-color: antiquewhite;
    
}

.hero-big{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-small{
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0px 10px 0px;
}

.left-side button{
    background-color: #3382f6;
    color: white;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    outline: 0;
    border-color: #3382f6;
}

.card-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
    padding-top: 30px;
}

.container{
    display: flex;
    width: 900px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.box-1, .box-2{
    display:flex;
    flex-direction: column;
    padding: 20px;
    gap: 7px;
    width: 150px;
}

.card-3{
    display: flex;
    height: 400px;
    background-color: #e5e7eb;
    justify-content: center;
}

.qoute-container{
    align-self: center;
    justify-content: center;
    width: 850px;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    padding-bottom: 50px;
    font-style: italic;

}

.tag{
    justify-content: flex-end;
    font-size: 26px;
    text-align: end;
}

.card-4{
    display: flex;
    height: 400px;
    justify-content: center;
}

.card-4-box{
    display: flex;
    background-color: #3382f6;
    padding: 20px;
    flex: 0 0 850px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.card-4-box button{
    background-color: #3382f6;
    color: white;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    outline: 0;
    border-color: #ffffff;
    padding: 20px;
}

.container-header{
    font-size: 30px;
    font-weight: 800;
    color: whitesmoke;
}

.container-subtext{
    color: whitesmoke;
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: auto;
}